<html>
  <body>
    <div>
      <p><%= title %></p>
      <% messages.forEach(message => {%>
      <ul>
        <li><%= message.name %></li>
        <li><%= message.message%></li>
        <li><%= message.date %></li>
        <a href="/message/<%=message.id%>">
          <span>Details</span>
        </a>
      </ul>
      <% }); { %> <% } %>
      <a href="/new">
        <span> New message </span>
      </a>
    </div>
  </body>
</html>
